.list{
    display: flex;
    flex-direction: column;
}
.list_title{
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 16px;
}
.list_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}