.login{
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #000;
    padding: 30px 40px;
    max-width: 640px;
    width: 100%;
    max-height: 400px;
    height:  100%;
    border-radius: 8px;
}
.login_flex{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
    max-width: 400px;
    width: 100%;
}
.login_title{
    font-size: 2.4em;
    color: white;
    margin-bottom: 15px;
}

    
@media (max-width: 780px) {
    .login{
        min-width: none;
        min-height: none;
        // width: 100%;
        // height: auto;
    }
    .login_flex{
        max-width: none;
    }
}